html{
    background: #D6D4D4;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: #00398D;
}

.head{
    list-style-type: none;
    background: #00398D;
}

.head ul{
    display: flex;
    padding: 20px;
    margin: 10px;
}

.head li{
    background-color: #F4F4F4;
    display: inline-block;
    flex: 3;
    margin: 5px;
}